<!DOCTYPE html>
<html>
<title>PODInvoice</title>
<head>
    <style>
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.container {
  padding: 30px;
  background-color: #f2f2f2;
}
label {
  padding: 12px 12px 12px 0;
  display: block;
}
input[type=text]{
  margin: -1px 0 5px 0;
  display: block;
  width: 60%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: horizontal;
}
.submitbtn {
  background-color: #04AA6D;
  color: black;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 60%;
  text-align: center;
  opacity: 0.9;
}
.submitbtn:hover {
  opacity: 10;
}


    </style>
</head>
<body>

<div class="topnav">
    <a href="" class="active">POD Invoice</a>
</div>

<form method="POST" action="{% url 'send_request' %}">
    <div class="container">
        <label for="req_id"><b>Request Id</b></label> <input type="text" placeholder="Enter Request ID" name="REQUESTID"
                                                             id="REQUESTID">
        <label for="date_last_status"><b>Date Last Status</b></label> <input type="text"
                                                                             placeholder="Enter Date Last Status"
                                                                             name="DATELASTSTATUS"
                                                                             id="DATELASTSTATUS">

        <label for="courier_name"><b>Courier Name</b></label> <input type="text" placeholder="Enter Courier Name"
                                                                     name="COURIERNAME"
                                                                     id="COURIERNAME">

        <label for="receiver_name"><b>Receiver Name</b></label> <input type="text" placeholder="Enter Receiver Name"
                                                                       name="RECEIVERNAMERNAME"
                                                                       id="RECEIVERNAMERNAME">

        <label for="awb_no"><b>Awb No</b></label> <input type="text" placeholder="Enter Awb No"
                                                         name="AWBNO"
                                                         id="AWBNO">
        <label for="delivery_status"><b>Delivery Status</b></label> <input type="text"
                                                                           placeholder="Enter Delivery Status"
                                                                           name="DELIVERYSTATUS"
                                                                           id="DELIVERYSTATUS">
        <label for="delivery_address"><b>Delivery Address</b></label> <input type="text"
                                                                           placeholder="Enter Delivery Address"
                                                                           name="DELIVERYADDRESS"
                                                                           id="DELIVERYADDRESS">

        <label for="invoice_no"><b>Invoice No</b></label> <input type="text" placeholder="Enter Invoice No"
                                                                 name="INVOICENO"
                                                                 id="INVOICENO">
        <label for="invoice_date"><b>Invoice Date</b></label> <input type="text" placeholder="Enter Invoice Date"
                                                                     name="INVOICEDATE"
                                                                     id="INVOICEDATE">
        <label for="invoice_amount"><b>Invoice Amount</b></label> <input type="text" placeholder="Enter Invoice Amount"
                                                                         name="INVOICEAMT"
                                                                         id="INVOICEAMT">

        <label for="serial_no"><b>Serial No</b></label> <input type="text" placeholder="Enter Serial No"
                                                               name="SERIALNO"
                                                               id="SERIALNO">

        <label for="prod_category"><b>Prod Category</b></label> <input type="text" placeholder="Enter Prod Category"
                                                                       name="PRODCATEGOTY"
                                                                       id="PRODCATEGOTY">
        <label for="manufacture_id"><b>Manufacture ID</b></label> <input type="text" placeholder="Enter Manufacture ID"
                                                                         name="MANUFACTURER" id="MANUFACTURER">

        <label for="product_desc"><b>Product Description</b></label> <input type="text"
                                                                            placeholder="Enter Product Description"
                                                                            name="PRODDESC" id="PRODDESC">
        <label for="deal_id"><b>Deal ID</b></label> <input type="text" placeholder="Enter Deal ID" name="DEALID"
                                                           id="DEALID">
        <label for="o_num"><b>Order Number</b></label> <input type="text" placeholder="Enter Order Number"
                                                              name="ORDERNO" id="ORDERNO">

        <label for="entry_date"><b>Entry Date</b></label> <input type="text" placeholder="Enter Entry Date"
                                                                 name="ENTRYDATE" id="ENTRYDATE">


        <label for="seller_name"><b>Seller Name</b></label> <input type="text" placeholder="Enter Seller Name"
                                                                   name="SELLERNAME" id="SELLERNAME">

        <label for="seller_id"><b>Seller Id</b></label> <input type="text" placeholder="Enter Seller Id"
                                                               name="SELLERID" id="SELLERID">

        <label for="req_date_1"><b>Request Date1</b></label> <input type="text" placeholder="Enter Request Date 1"
                                                                    name="REQUESTDATE1" id="REQUESTDATE1">
        <label for="req_date_2"><b>Request Date2</b></label> <input type="text" placeholder="Enter Request Date 2"
                                                                    name="REQUESTDATE2" id="REQUESTDATE2">
        <label for="req_text_1"><b>Request Text1</b></label> <input type="text" placeholder="Enter Request Text 1"
                                                                    name="REQUESTTEXT1" id="REQUESTTEXT1">
        <label for="req_text_2"><b>Request Text2</b></label> <input type="text" placeholder="Enter Request Text 2"
                                                                    name="REQUESTTEXT2" id="REQUESTTEXT2">

        <input type="hidden" id="apiName" name="ApiName" value="PODInvoice">

        <button type="submit" class="submitbtn">Submit</button>
    </div>
</form>
</body>
</html>
